services:
  redis:
    image: redis:7.2.5-alpine
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
  api:
    image: ${IMAGE}
    command: 'gunicorn server.app:app --bind 0.0.0.0:5000 --access-logfile "-" --error-logfile "-" --log-level info --capture-output'
    environment:
      - WEATHER_API=${WEATHER_API}
      - MODEL=${MODEL}
      - CLASSIFIER=${CLASSIFIER}
      - REDIS=${REDIS}
    ports:
      - "80:5000"
    volumes:
      - ./server/predictor.py:/app/server/predictor.py
    depends_on:
      redis:
        condition: service_healthy